*{
    margin: 0;
    padding: 0;
}
.container{
    max-width: 1440px;
    margin: 0 auto;
}
*{
    background: rgba(0, 0, 0, 0.979);  
}
 h1 {
    color: white;
    text-align: center;
}
.boss p{
    color: white;
    text-align: center;
}
.boss  {
    display: flex;
    padding-top: 50px;
}
.box-3 {
    text-align: center;
}
.box-3 p {
    color: white;
}
@import "../scss/programm";
@import "../scss/biograp";