body{
    background: black;
}
*{
    margin: 0;
    padding: 0;
}
.container{
    max-width: 1440px;
    margin: 0 auto;
}

 h1 {
    color: white;
    text-align: center;
}
.boss p{
    color: white;
    text-align: center;

}
.boss  {
    display: flex;
    padding-top: 50px;
}
.box-3 {
    text-align: center;
}
.box-3 p {
    color: white;
}
.icon1{
    margin-left: 180px;
}
.icon2{
margin-left: 170px;
}
.icon3{
    margin-left: 170px;
}
header{
    background-color: black;
}
.logo{
    position: absolute;
    left: 200px;
}
.nav__menu{
    position: absolute;
    left: 350px;
    margin: 0;
    display: flex;
}
.nav__link{
    position: absolute;
    color: white;
}
li{
    margin-right: 100px;
}
@import "../scss/programm";
@import "../scss/biograp";
@import "../scss/footer";
@import "../scss//header";
@import "../scss/main";
