.footer{
    width: 100%;
    height: 300px;
    m
    &__title{
        color: white;
        margin-left: 550px;
        margin-top: 40px;
    }
    &__descr{
        color: white;
        opacity: 0.3;
        text-align: center;
        margin-top: 40px;
    }
    &__input{
        width: 353px;
        height: 40px;
        background: white;
        border-radius: 25px;
        opacity: 0.3;
        margin-left: 420px;
        margin-top: 40px;
    }
    &__btn{
        background: linear-gradient(94.78deg, #DF5950 11.19%, #451046 93.72%);
        width: 160px;
        height: 44px;
        border-radius: 20px;
        margin-left: -30px;
        position: absolute;
        margin-top: 40px;
        border: none;
        color: white;
        &:focus{
            outline: none;
        }
    }
    &__inst{
        position: absolute;
        top: 3047px;
        left: 655px;
        width: 30px;
        height: 30px;
    }
}