*{
    background: #000;;
}

.title{
   color: white;
}
.w p{
    color: white;
}
.container{
    display: flex;
    justify-content: space-between;
    margin: 100px;
    
}
.w{
    margin: 100px;
}
.img{
    font-size: 40px ;
}